medibot_backend_workflow.json
{
  "name": "medibot_backend",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        544
      ],
      "id": "47a95fc3-f705-44f3-88de-eeab8a6eea2d",
      "name": "When chat message received",
      "webhookId": "310bbe1f-7713-42b5-9373-7c64ac3dcc70"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "17PTGijvFOurGEM6Xh1XGRdMLsoQD0Lf5",
            "mode": "list",
            "cachedResultName": "Data",
            "cachedResultUrl": "https://drive.google.com/drive/folders/17PTGijvFOurGEM6Xh1XGRdMLsoQD0Lf5"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        544
      ],
      "id": "6c3287b3-b9cd-4a3a-a33b-0b1a1c9e14d1",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QL7un4h3WGMBoecB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        544
      ],
      "id": "20b2a9b9-e9bc-4c02-b7de-caa46e6d12be",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample"
        },
        "embeddingBatchSize": 10,
        "options": {
          "pineconeNamespace": "healthcare_chatbot"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        560
      ],
      "id": "eec551d5-fb57-43c5-be2c-e3980c7ca0fb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kmoOBbgzRaVgnJf7",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        544
      ],
      "id": "005ad30b-2c2b-4962-a695-a5d9b9853a86",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QL7un4h3WGMBoecB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        768
      ],
      "id": "4e54840c-de00-4a74-982f-08bb60db530d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1024,
        960
      ],
      "id": "288acf43-1fc3-44e0-aee5-abb33222a368",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        352,
        544
      ],
      "id": "94b95425-7a91-4361-8da6-4f8ad91c574a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        688,
        784
      ],
      "id": "3b4e1b81-1ec6-44f8-8489-6c3e3639b5f1",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "jH1W4Wr6RbVkLjIn",
          "name": "Cohere account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d7196b47-ac07-4106-971b-c3b94032bf96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7958870c865d53ba14f823620a9a50476a2cb34d3bef4f94ebf0f4ac8f8eac74"
  },
  "id": "7hcxnwvGZkb7QO6M",
  "tags": []
}
